# Ignore Python virtual environment
venv/
/Scripts/
/Lib/
pyvenv.cfg
QComponents/__pycache__/MainMenu.cpython-310.pyc
QComponents/__pycache__/MainWindow.cpython-310.pyc
QComponents/__pycache__/MainWindow.cpython-310.pyc
